body {
  background: linear-gradient(
        to right,
        rgba(15, 12, 41, 0.99),
        rgba(48, 43, 99, 0.99),
        rgba(36, 36, 62, 0.85)
      )
      no-repeat center center fixed,
    url('/logo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
